#TreeContainer {
    width:400px;
}
#TreeContainer ul{
    list-style-type: none;
    padding-left:0px;
    margin-left:15px;
}
#TreeContainer ul.treeRoot > li > div.branchName:before {
    display:none;
}
#TreeContainer .branchName {
    display: inline-block;
}
#TreeContainer .branchName:before {
    content:'';
    display: inline-block;
    width:10px;
    height:10px;
    margin-right:4px;
    background: url('../images/cross_small.png');
}
#TreeContainer ul li {
    margin-top:5px;
}
#TreeContainer ul li .branchName.over {
    background: rgba(255, 255, 0, 0.3);
}
#TreeContainer ul li .branchName{

}
#TreeContainer .buttonContainer .button{
    display:inline-block;
    width:20px;
    height:20px;
}
#TreeContainer .buttonContainer .editButton{
    background: url('../images/edit_small.png');
}
#TreeContainer .buttonContainer .addWordsButton{
    background: url('../images/folder_small.png');
}
#TreeContainer .buttonContainer .viewButton{
    background: url('../images/view_small.png');
}
#TreeContainer .buttonContainer .addDescendantButton {
    background: url('../images/plus_small.png');
}
#TreeContainer .buttonContainer .dragButton{
    background: url('../images/expand_small.png');
}

