#TreeContainer {
    width:95%;
    margin-top:25px;
}
#TreeContainer .controls {
    position:fixed;
    background: white;
    top:45px;
    width:100%;
    margin:0;
    padding:5px;
}
#TreeContainer .controls .button{
    width:20px;
    height:20px;
    display: inline-block;
    vertical-align: middle;
}
#TreeContainer .controls .edit{
    background: url('../images/edit_small.png');
}
#TreeContainer .controls .keys{
    background: url('../images/folder_small.png');
}
#TreeContainer .controls .look{
    background: url('../images/view_small.png');
}
#TreeContainer .controls .plus{
    background: url('../images/plus_small.png');
}
#TreeContainer .controls .assign_author{
    background: url('../images/pin.png');
}
#TreeContainer .controls .delete_keys{
    background: url('../images/delete_keys.png');
}
#TreeContainer .controls .plus{
    background: url('../images/plus_small.png');
}
#TreeContainer .controls .font20{
    font-size:20px;
}
#TreeContainer .controls .delete{
    background: url('../images/cross_small.png');
}
#TreeContainer ul{
    list-style-type: none;
    padding-left:0px;
    margin-left:15px;
}
#TreeContainer ul.treeRoot > li > .expand{
    display:none;
}
/*#TreeContainer ul.treeRoot > li > div.branchName:before {
    display:none;
}*/
#TreeContainer .branchName {
    display: inline-block;
}
/*#TreeContainer .branchName:before {
    content:'';
    display: inline-block;
    width:10px;
    height:10px;
    margin-right:4px;
    background: url('../images/cross_small.png');
}*/
#TreeContainer ul li {
    margin-top:5px;
}
#TreeContainer ul li.selected > .branchName {
    border:1px solid red;
}
#TreeContainer ul li .branchName.over {
    background: rgba(255, 255, 0, 0.3);
}
#TreeContainer ul li .expand{
    display: inline-block;
    vertical-align: middle;
    width:15px;
    height:15px;

}
#TreeContainer ul li .expand.hasChildren{
    background: url('../images/arrow_right.png');
}
#TreeContainer ul li .expand.hasChildren.opened{
    background: url('../images/arrow_down.png');
}

#TreeContainer .buttonContainer *{
    vertical-align:middle;
    display:inline-block;
}
#TreeContainer .buttonContainer *:first-child{
    margin-left:10px;
}
#TreeContainer .buttonContainer .button{
    width:20px;
    height:20px;
}
#TreeContainer .buttonContainer .editButton{
    background: url('../images/edit_small.png');
}
#TreeContainer .buttonContainer .addWordsButton{
    background: url('../images/folder_small.png');
}
#TreeContainer .buttonContainer .viewButton{
    background: url('../images/view_small.png');
}
#TreeContainer .buttonContainer .addDescendantButton {
    background: url('../images/plus_small.png');
}
#TreeContainer .buttonContainer .dragButton{
    background: url('../images/expand_small.png');
}
#TreeContainer .comment.hidden {
    display:none;
}